{% extends 'base.html' %}
{% load recipe_filter %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %} {{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block tags %}
    {% include "recipes/includes/filter_tags.html" %}
{% endblock %}
{% block content %}
    <div class="card-list">
        {% with favorites_list=request.user|get_favorites shopping_list=request|get_shopping_list %}
            {% if recipe_list %}
                {% for recipe in recipe_list %}
                    {% include "recipes/includes/recipe_card.html" %}
                {% endfor %}
            {% else %}
                <p class="custom-text-block">Рецептов еще нет, вы можете стать первым автором :)</p>
            {% endif %}
        {% endwith %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include "recipes/includes/paginator.html" with items=page_obj paginator=paginator%}
    {% endif %}
{% endblock %}
{% block script %}
    {% csrf_token %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static '/js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock %}
