{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block header %} Мои подписки {% endblock %}

{% block content %}
    {% if subscriptions %}
        <div class="card-list">
            {% for author in subscriptions %}
                {% include "recipes/includes/author_card.html" with author=author %}
            {% endfor %}
        </div>
        {% else %}
            <p class="recipe__text">У вас еще нет подписок на других авторов :(</p>
    {% endif %}
    {% if page_obj.has_other_pages %}
        {% include "recipes/includes/paginator.html" with items=page_obj paginator=paginator%}
    {% endif %}
{% endblock %}

{% block script %}
    {% csrf_token %}
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/MyFollow.js' %}"></script>
    <script src="{% static '/js/components/Subscribe.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}