<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% include 'includes/card_tags.html' with tags=recipe.tag.all %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span>{{ recipe.author.first_name }} {{ recipe.author.last_name }}</p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        <button class="button button_style_none" name="favorites"{% if recipe.id not in favorites %}data-out{% endif %}>
            <span class="icon-favorite {% if recipe.id in favorites %}icon-favorite_active{% endif %}"></span>
        </button>
    </div>
</div>