<header class="header">
    <nav class="nav">
        <div class="nav__container container">
        {% with request.resolver_match.view_name as url_name %}
            {% if user.is_authenticated %}
                <li class="nav__item {% if url_name == 'index' %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item {% if url_name == 'follow' %}nav__item_active{% endif %}"><a href="{% url 'follow' %}" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item {% if url_name == 'new' %}nav__item_active{% endif %}"><a href="{% url 'new' %}" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item {% if url_name == 'favorites' %}nav__item_active{% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
                <li class="nav__item {% if url_name == 'purchases' %}nav__item_active{% endif %}"><a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a>
                    <span class="badge badge_style_blue nav__badge" id="counter">{% if purchases_count > 0 %}{{ purchases_count }}{% endif %}</span></li>
                <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'user' user.username %}" class="nav__link link">Я: {{ user.username }}</a></li>
                    <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                </ul>
            {% else %}
                <ul class="nav__items list">
                    <li class="nav__item {% if url_name == 'index' %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                    <li class="nav__item {% if url_name == 'purchases' %}nav__item_active{% endif %}"><a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a>
                        <span class="badge badge_style_blue nav__badge" id="counter">{% if purchases_count > 0 %}{{ purchases_count }}{% endif %}</span></li>
                </ul>
            {% endif %}
        {% endwith %}
            {% if not user.is_authenticated %}
                <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать
                    аккаунт</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</header>