<div class="card" data-id="120">
    <a href="#" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Изображение не загружено" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                {% if tag.slug == "Lunch" %}
                    <li class="card__item"><span class="badge badge_style_green">{{ tag.name }}</span></li>
                {% endif %}
                {% if tag.slug == "Breakfast" %}
                    <li class="card__item"><span class="badge badge_style_orange">{{ tag.name }}</span></li>
                {% endif %}
                {% if tag.slug == "Dinner" %}
                    <li class="card__item"><span class="badge badge_style_purple">{{ tag.name }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    </div>
</div>