{% extends "users/base_users.html" %}
{% block title %} {% if validlink %} Изменение пароля {% else %} Ошибка восстановления пароля {% endif %} {% endblock %}
{% block header %} {% if validlink %} Изменение пароля {% else %} Ошибка восстановления пароля {% endif %} {% endblock %}
{% block content %}
    {% if validlink %}
        <div class="form-container">
            <form class="form" method="post">
                <p class="form__info-text"> Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
                {% csrf_token %}
                {% include "recipes/includes/../users/includes/users_form_fields.html" %}
                <div class="form__footer">
                    <button class="button button_style_blue" type="submit">{% block button %} Изменить пароль {% endblock %}</button>
                </div>
            </form>
        </div>
    {% else %}
        <p class="form__info-text">Ссылка сброса пароля содержит ошибку или устарела.</p>
    {% endif %}
{% endblock %}