{% extends 'base.html' %}
{% load recipe_filter %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %} Избранное {% endblock %}
{% block tags %}
    {% include "includes/filter_tags.html" %}
{% endblock %}

{% block content %}
    {% with favorites_list=favorites shopping_list=request|get_shopping_list %}
        {% if favorites_list %}
            <div class="card-list">
                {% for recipe in favorites_list %}
                    {% include "includes/recipe_card.html" %}
                {% endfor %}
            </div>
        {% else %}
            <p class="custom-text-block">Избранных рецептов еще нет :(</p>
        {% endif %}
    {% endwith %}
    {% if page_obj.has_other_pages %}
        {% include "includes/paginator.html" with items=page_obj paginator=paginator%}
    {% endif %}
{% endblock %}

{% block script %}
    {% csrf_token %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}