{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %} Избранное {% endblock %}
{% block tags %}
    {% include "includes/filter_tags.html" %}
{% endblock %}

{% block content %}
    {% if favorites %}
        <div class="card-list">
            {% for recipe in favorites %}
                {% include "includes/recipe_card.html" with recipe=recipe %}
            {% endfor %}
        </div>
    {% else %}
        <p class="custom-text-block">Избранных рецептов еще нет :(</p>
    {% endif %}
    {% if page_obj.has_other_pages %}
        {% include "includes/paginator.html" with items=page_obj paginator=paginator%}
    {% endif %}
{% endblock %}

{% block script %}
    {% csrf_token %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}